:root{
    --clr-main: #4f77b4;
    --clr-main-ligh: #4a89e7;
    --clr-white:#ececec;
    --clr-gray:#e2e2e2;

}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
aside{
    padding: 2rem 0 2rem 2rem;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.boton-menu{
    background-color: transparent;
    border: 0;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
}
.boton-menu.active{
    background-color: var(--clr-white);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
main{
    background-color: var(--clr-white);
    margin: 6.2rem 1.5rem  2rem 0;
    border-radius: 2rem;
}
.titulo-principal{
    /*color: var(--clr-main);*/
    text-align: center;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
   /* background-color: var(--clr-main);
    color:var(--clr-white);*/
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .08rem;
    text-transform: lowercase;
    text-align: center;
}
.producto-titulo{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.botones-producto{
    display: flex;
}
.producto-precio{
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}
.producto-agregar{
    margin: auto;
    width: 50%;
    border: 0;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
}
.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
    transition: 0.5s;
}
.detalles-producto{
    margin: auto;
    width: 50%;
    border: 0;
    background-color: var(--clr-main-ligh);
    color: var(--clr-main);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
}
.detalles-producto:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);
}