* {
  font-family: "Poppins", sans-serif;

}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header p{
  position: absolute;
  top: 25px;
  right: 41px;
  padding: 1px 6px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 18px;
}
nav {
  display: flex;
  background-color: #4f77b4;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 10px 25px;
}
nav .icono {
  font-size: 35px;
  font-weight: 800;
  color: #fdfffc;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ul li {
  margin: auto 10px;
}
nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px 7px;
}
nav ul li a:hover {
  background-color: #000814;
  color: #fdfffc;
  transition: 0.5s;
  border-radius: 10px;
}
nav ul li:hover ul {
  display: block;
  align-items: center;
  background-color: #4f77b4;
  margin-top: 6px;
  padding: 0 0 2px 0;
  border-radius: 10px;
}
ul .submenu {
  display: none;
  position: absolute;
}
ul .submenu li {
  margin: 0;
}
ul .submenu li a {
  display: block;
}

/*Barra de busqueda nav*/
nav .boxSearch {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .boxSearch input {
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
  border-radius: 30px 0px 0px 30px;
}
nav .boxSearch span {
  color: #4f78b4;
  font-size: 20px;
  background-color: #ffffff;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 0px 30px 30px 0;
}
nav .boxSearch span:hover {
  background-color: #000814;
  transition: 0.5s;
  border-radius: 0px 30px 30px 0;
}
/*Icono carro*/
nav .cartIcon {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .cartIcon span {
  color: #4f78b4;
  font-size: 20px;
  background-color: #ffffff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
/*Para responsive*/
nav .bar {
  position: relative;
  margin: auto;
  display: none;
}
nav .bar span {
  position: absolute;
  color: #fdfffc;
  font-size: 35px;
}
.cart{
  width: 39px;
  height: 38px;
}
.cart-products{
  position: absolute!important;
  top: 82px;
  right: -18px;
  background-color: #fff;
  padding: 0 18px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  display: none;
  min-width: 290px;
}

.cart:hover{
  margin-bottom: 16px;
  transition-duration: .5s;
}
/*end header*/
.carts{
position: relative;
transition: 0.5s ease-in-out;
padding-bottom: 10px;
}
.carts:hover{
padding: 10px;
border: 2px solid #4f78b4;
border-radius: 1%;
}
.products {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
section {
margin-top: 1.5rem;
padding: 3rem 0;
}
img {
width: 100%;
cursor: pointer;
}
.carts img{
width: 100%;
aspect-ratio: 1/1;
object-fit: cover;
margin-bottom: 0.5rem;
}
.carts p{
font-size: 1.1rem;
font-weight: 600;
text-transform: capitalizes;
margin-bottom: 1rem;
}
.carts .detalles{
display: inline;
}
.carts a{
color: #fff;
padding: 8px;
transition: 0.5s;
cursor: pointer;
background-color: #000814;
text-decoration: none;
border-radius: 10px;
}

.carts a:hover{
color: #fff;
background-color: #4f78b4;
border-radius: 10px;
}

/*float cart*/
.cart-products .item img{
  width: 115px;
}

.cart-products .item{
  display: flex;
  align-items: center;
  border-bottom: solid 2px red;
}
.cart-products .item .item-content{
  margin: 0 19px;
  width: 201px;
}
.cart-products .item .item-content h5{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item .item-content h6{
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  font-family: system-ui;
}
.cart-products .item span{
  background-color: red;
  padding: 0px 5px;
  border-radius: 50%;
  color: #fff;
  font-family: system-ui;
  cursor: pointer;
}
.cart-products h3{
  margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
  font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
  top: -4px;
  right: 20px;
  cursor: pointer;
  color: #000;
}
/*Responsive*/
input[type="checkbox"] {
  display: none;
}
@media screen and (max-width: 1000px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .icono {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .boxSearch {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .boxSearch input {
    width: 90%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 25px;
  }
  nav .cartIcon {
    display: block;
    margin: auto 0;
  }
  nav .bar {
    position: absolute;
    top: 20px;
    right: 80px;
    display: block;
    cursor: pointer;
  }
  nav .bar #close {
    display: none;
  }

  #check:checked ~ nav .bar #close {
    display: block;
  }
  #check:checked ~ nav .bar #menu {
    display: none;
  }
  #check:checked ~ nav ul {
    visibility: visible;
    height: 465px;
  }
}
